<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">PeaceLoveUnityRespect Message Board</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li>{{#link-to 'new-question'}}Ask Question{{/link-to}}</li>
          <li>{{#link-to 'questions'}}All Questions{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>

  {{outlet}}
</div>
