<form>

  <label for="text">Your Answer:</label>
  {{textarea id="text" class="form-control" value=text}}

  <label for="poster">Your Name:</label>
  {{textarea id="poster" class="form-control" value=poster}}

  <button class="btn btn-primary btn-block" {{action 'addAnswer'}}>Submit</button>
</form>
