<br>
<div class="row well clearfix">
  <div class="col-md-12 column">
      {{#each}}
        <p class="lead">{{#link-to 'question' this.id}}{{question}}{{/link-to}}</p>
        <p class="col-md-offset-1">
          <strong>asked by: &nbsp;</strong>{{author}}
        </p>
        <br>
      {{/each}}
  </div>
</div>
